<?xml version="1.0"?>
<conf configVersion="ad159b2e5147d84bebd91dfe8ea252b1" >

  <!-- Services **************************************************************
    Old services that are not based on simpleService needs to be listed here
   -->
  <serverservice>
    <tab class="serviceDHCP"        />
    <tab class="serviceDNS"         />
  </serverservice>

  <!-- Main section **********************************************************
       The main section defines global settings, which might be overridden by
       each location definition inside.

       For more information about the configuration parameters, take a look at
       the FusionDirectory.conf(5) manual page.
  -->
  <main default="default"
        logging="TRUE"
        displayErrors="FALSE"
        forceSSL="FALSE"
        templateCompileDirectory="/var/spool/fusiondirectory/"
        debugLevel="0"
    >

    <!-- Location definition -->
    <location name="default"
        config="ou=fusiondirectory,ou=configs,ou=systems,{{openldap_suffix}}">

        <referral URI="ldap://127.0.0.1:389/{{ openldap_suffix }}"
                        adminDn="{{ openldap_root_dn }}"
                        adminPassword="{{ openldap_password }}" />
    </location>
  </main>
</conf>

